<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eletronic.etienda.repository.ProductosDAO">

	<select id="getProductos" resultType="Producto">
		select * from producto
	</select>

	<select id="getProducto" resultType="Producto" parameterType="int">
		select * from producto where producto_id = #{id}
	</select>
	 
	
</mapper>